<%- include('../admin/partials/header') -%>

 <!-- Sidebar Start -->
 <div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="adminstyle/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Jhon Doe</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/admin_dashboard" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/product" class="nav-item nav-link  "><i class="fa fa-tachometer-alt me-2"></i>Products</a>
            <a href="/category" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Category</a>
            <a href="/users" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Users</a>
            <a href="/orderList" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Order List</a>
            <a href="/salesReport" class="nav-item nav-link  "><i class="fa fa-tachometer-alt me-2"></i>Sales Report</a>
            <a href="/couponPage" class="nav-item nav-link active "><i class="fa fa-tachometer-alt me-2"></i>Coupon Page </a>
  
        </div>
    </nav>
  </div>
  <!-- Sidebar End -->


<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->



        <!-- Content Start -->
        <div class="content">



            <%- include('../admin/partials/admin_navbar.ejs')%>
          


            <div class="col-sm-12 col-xl-10 container-fluid mt-5">
              <div class="bg-secondary rounded h-100 p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                  <h6 class="mb-0">Coupons</h6>
                  <a href="/addCoupon">Add Coupon </a>
                  
              </div>
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th scope="col">#</th>
                              <th scope="col">Coupon code</th>
                              <th scope="col">Starting Date</th>
                              <th scope="col">Expiry Date</th>
                              <th scope="col">Discount</th>
                              <th scope="col">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <% coupon.forEach((coupon, index) => { %>
                              <tr>
                                  <th scope="row"><%= index + 1 %></th>
                                  <td><%= coupon.code %></td>
                                  <td><%= coupon.startingDate ? coupon.startingDate.toLocaleDateString() : '' %></td>
                                  <td><%= coupon.expiryDate ? coupon.expiryDate.toLocaleDateString() : '' %></td>
                                  <td><%= coupon.discount %></td>
                                  <td>
                                      <a href="/delete-coupon/<%= coupon._id %> " onclick="confirmdelete('<%= coupon._id %>')">
                                          <span class="text-gradient">
                                              <i class="fa-solid fa-trash"></i>
                                          </span>
                                      </a>
                                  </td>
                              </tr>
                          <% }) %>
                      </tbody>
                  </table>
                  <% if(locals.message){%>
                      <div id="msg" class="alert alert-danger text-center">
                         <%= message %>
                      </div>
                  <% } %>
                  <div class="text-center">
                      <a href="/addCoupon"><button class="btn btn-success w-100 mt-2" type="button">Add Coupon</button></a>
                  </div>
              </div>
          </div>
          
          <script>
              function confirmdelete(couponId) {
                  event.preventDefault(); // Prevent the link from immediately navigating
                  swal({
                      title: "Do you really want to delete the coupon?",
                      icon: "warning",
                      buttons: {
                          cancel: "Cancel",
                          confirm: "OK"
                      },
                  }).then((confirmed) => {
                      if (confirmed) {
                          swal({
                          title: "Coupon deleted successfully!",
                          icon: "success",
                          }).then(() => {
                          window.location.href = "/delete-coupon/" + couponId; // Navigate to the block_pdt URL
                          });
                      }
                  });
              }
          </script>     

           
       
            <!-- Recent Sales End -->

    <!-- pagination -->
    <div class="pagination-container">
        <ul class="pagination" id="pagination-list">
          <li class="page-item" id="prev-page">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                <span class="visually-hidden">Previous</span>
            </a>
          </li>
          <!-- Page numbers will be dynamically added here -->
          <li class="page-item" id="next-page">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="visually-hidden">Next</span>
            </a>
          </li>
        </ul>
      </div>
         

        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="adminstyle/lib/chart/chart.min.js"></script>
    <script src="adminstyle/lib/easing/easing.min.js"></script>
    <script src="adminstyle/lib/waypoints/waypoints.min.js"></script>
    <script src="adminstyle/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="adminstyle/lib/tempusdominus/js/moment.min.js"></script>
    <script src="adminstyle/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="adminstyle/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>



    <!-- Template Javascript -->
    <script src="adminstyle/js/main.js"></script>


    <%- include('../admin/partials/footer') -%>
